includeConfig 'amrproj-data-management/nextflow.config'

manifest {
    name            = 'bronze-to-silver-skeleton'
    description     = 'Minimal skeleton pipeline that derives a silver dataset from a bronze one'
    homePage        = 'https://github.com/ImperialCollegeLondon/bronze-to-silver-skeleton'
    version         = '0.1.0'
}

params {
    target_id        = null
    metadata         = null
    profile          = 'minimal-silver'
    download_sas_env = null

    bronze_tag = 'tag=storage'
    grades = [
        silver: [tag: 'tag=storage', container: 'silver', prefix: '']
    ]
}
