includeConfig 'amrproj-data-management/nextflow.config'

manifest {
    name            = 'bronze-to-silver-skeleton'
    description     = 'Minimal skeleton pipeline to process bronze data to silver'
}


params {
    grades = [
        silver: [tag: 'role=bronze', container: 'bronze', prefix: 'silver-skeleton']
    ]
}
